# DX602: Homework 3

**Subject matter:**

decisions and list comprehensions

**Instructions:**

Be sure to run each code block after you edit it to make sure it runs as expected. When you are done, we strongly recommend you run all the code from scratch (Runtime menu -> Restart and Run all) to make sure your current code works for all problems.

If your code raises an exception when run from scratch, it will interfere with the auto-grader process causing you to lose some or all points for this homework. Please ask for help on Piazza, attend office hours or schedule an appointment with your learning facilitator if you get stuck.

**Warning about AI:**

While we encourage you to use AI to generate practice problems, we strongly recommend against using it to solve this assignment. The goal of this assignment is for you to learn these concepts, and while using AI may help you solve these problems quicker, you will not be learning anything and will get confused as this module progresses. So, try to solve these problems with the help of the sample problems and examples on blackboard.

**Solution:**

For each problem description, a sample output has been included to show what the expected output should look like.

**Problem 1 (Review)**

**Concept:** *Review of functions, parameters, and lists and indexing.*

**Task:**

Write a function named `add_first_last(values)` that:

* Takes a list named values

* Extracts the first and last elements of the list

* Returns their sum

**Sample Output:**

```
add_first_last(values) returned 12
```

In [ ]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW

Test case for problem 1

In [ ]:
# test case
values = [3,1,4,1,5,9]
print('add_first_last(values) returned', add_first_last(values))

**Problem 2 (Review)**

**Concept:** *Review of functions that return a list.*

**Task:**

Write a function named `build_list(x, y, z)` that:

* Takes three numeric parameters: x, y, and z

* Returns a list containing:

    * x cubed (x^3)

    * y squared (y^2)

    * z to the first power (z^1)

**Sample Output:**

```
build_list(1,2,3) returned [1, 4, 3]
build_list(7,8,9) returned [343, 64, 9]
```

In [ ]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW

Test cases for problem 2

In [ ]:
# test cases:
print('build_list(1,2,3) returned', build_list(1,2,3))
print('build_list(7,8,9) returned', build_list(7,8,9))

**Problem 3**

**Concept:** *Decision logic.*

**Task:**

Write a function named `my_min(a, b)` that:

* Takes two numeric parameters

* Returns the smaller of the two values

* **You may NOT use the built-in `min()` function**


**Sample Output:**

```
my_min(3, 4) returned 3
my_min(4, 3) returned 3
my_min(4, 4) returned 4
```

In [ ]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW

Test cases for problem 3

In [ ]:
# TO DO: WRITE YOUR TEST CASES HERE

**Problem 4**

**Concept:** *Decision logic.*

**Task:**

Write a function named `letter_score(letter)` that:

* Takes a single lowercase letter

* Returns the numeric Scrabble score for that letter

* Uses decision logic only (if / elif / else)

* Follows official Scrabble letter values

![letter_scores.gif]()

**Sample Output:**

```
letter_score('j') returned 8
letter_score('k') returned 5
letter_score('e') returned 1
```

In [ ]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW

Test cases for problem 4

In [ ]:
# TO DO: WRITE YOUR TEST CASES HERE

**Problem 5**

**Concept:** *Decision logic.*

**Task:**

Write a function named `my_min_three(a, b, c)` that:

* Takes three numeric parameters

* Returns the smallest value

* **You may NOT use the built-in min() function**

You should test all possible orderings of the parameters.

**Sample Output:**

```
my_min_three(3, 4, 5) returned 3
my_min_three(5, 4, 3) returned 3
my_min_three(3, 4, 3) returned 3
```

In [ ]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW

Test cases for problem 5

In [ ]:
# test cases for your function
print('my_min_three(3, 4, 5) returned', my_min_three(3, 4, 5))
# hint: 8 test cases are required to ensure correstness for all permutations of the parameters
# write the missing test cases to be sure your function is correct!

**Problem 6**

**Concept:** *Decision logic*

**Task:**

Write a function named `calculate_weekly_pay(hours_worked, rate)` that:

Pays:

* Regular rate for the first 40 hours

* 1.5× rate for hours 41–55

* 2× rate for hours above 55

Returns the total weekly pay


**Sample Output:**

```
calculate_weekly_pay(25, 20) 500
calculate_weekly_pay(45, 20) 950.0
calculate_weekly_pay(60, 20) 1450.0
```

In [ ]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW

Test cases for problem 6:

Examples/test cases:
* `calculate_weekly_pay(25, 20)` would return `500`, i.e., 25 hours times $20.

* `calculate_weekly_pay(45, 20)` would return `950`, i.e., 40 hours times $20, plus 5 hours times \$30.

* `calculate_weekly_pay(60, 20)` would return `1450`, i.e., 40 hours times $20, plus 15 hours times \$30, plus 5 hours times \$40.

Write your test cases in the cell below:

In [ ]:
# TO DO: WRITE YOUR TEST CASES HERE

**Problem 7**

**Concept:** *Decision logic.*

**Task:**

Write a function named `longest_string(strings)` that:

* Takes a list named strings containing exactly three strings

* Returns the longest string

* Uses decision logic, not sorting

* **You may not use the built-in `min` function.**

**Sample Output:**

```
longest_string(["all", "my", "loving"]) returned loving
longest_string(["strawberry", "fields", "forever"]) returned strawberry
```

In [ ]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW

Test cases for problem 7.
Give one test case. Advise students to write 2 other test cases to prove it works no matter where the longest word is within the list.

In [ ]:
# TO DO: WRITE YOUR TEST CASES HERE

**Problem 8**

**Concept:** *Decision logic with strings.*

**Task:**

Write a function named `alphabetize(s1, s2, s3)` that:

* Takes three strings

* Returns a list of the strings in alphabetical order

* **You may NOT use sort() or sorted()**

**Example:**

The function call:
```
alphabetize("all", "my", "loving")
```
should return the result:
```
["all", "loving", "my"]
```

**Sample Output:**

```
alphabetize("all", "my", "loving") returned ['all', 'loving', 'my']
```

In [ ]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW

Test case for problem 8

In [ ]:
# test cases:
print('alphabetize("all", "my", "loving") returned', alphabetize("all", "my", "loving"))

# to do: add more test cases to verify that the function
# works correctly on other initial orderings of the parameters

**Problem 9**

**Concept:** *Simple list comprehension.*

**Task:**

Write a function named `sin_range(start, stop)` that:

* Uses a list comprehension

* Returns a list of `math.sin(x)` values for each integer `x` in `range(start, stop)`

* Uses the math module

Read about math module (https://docs.python.org/3/library/math.html)

**Sample Output:**

```
sin_range(1,10,1) returned [0.8414709848078965, 0.9092974268256817, 0.1411200080598672, -0.7568024953079282, -0.9589242746631385, -0.27941549819892586, 0.6569865987187891, 0.9893582466233818, 0.4121184852417566]
```

In [ ]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW

Test case for problem 9

In [ ]:
# write your test cases here

**Problem 10**

**Concept:** *List comprehension to process a string.*

**Task:**

Write a function named `ascii_codes(s)` that:

* Takes a string s

* Returns a list of ASCII codes using `ord()`

* Uses a list comprehension

**Note about ASCII code, `ord()` function:**

In Python, characters like letters and symbols are internally represented by numbers. These numbers come from a standard called ASCII (American Standard Code for Information Interchange).

Read about the `ord()` function: https://www.geeksforgeeks.org/python/ord-function-python/


**Sample Output:**

```
ascii_codes('hello, world!') returned [104, 101, 108, 108, 111, 44, 32, 119, 111, 114, 108, 100, 33]
```

In [ ]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW

Test case for problem 10

In [ ]:
# TO DO: WRITE YOUR TEST CASES HERE

**Problem 11**

**Concept:** *List comprehension processing a list of words*

**Task:**

Write a function named `word_lengths(words)` that:

* Takes a list of strings

* Returns a list containing the length of each word

* Uses a list comprehension

**Sample Output:**

```
word_lengths(["strawberry", "fields", "forever"]) returned [10, 6, 7]
```

In [ ]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW

Test case for problem 11

In [ ]:
# TO DO: WRITE YOUR TEST CASES HERE

word_lengths(["strawberry", "fields", "forever"]) returned [10, 6, 7]

**Problem 12**

**Concept:** *List comprehension with a decision statement.*

**Task:**

Write a function named `words_longer_than(words, min_length)` that:

* Returns a list of words whose length is greater than `min_length`

* Uses a list comprehension with a condition


**Sample Output:**

```
words_longer_than(["strawberry", "fields", "forever"], 6) returned  ['strawberry', 'forever']
```

In [ ]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW

Test case for problem 12

In [ ]:
# TO DO: WRITE YOUR TEST CASES HERE

**Problem 13**

**Concept:** *List comprehension with aggregate function.*

**Task:**

Write a function named `stdev(values)` that:

* Computes the population standard deviation of a list of numbers

* Uses a list comprehension to calculate squared deviations

* Uses no external statistics libraries

The standard deviation is the square root of the variance:

![variance.jpg]()


**Hints:**

* The formula computes the variance; the standard deviation is the square root of the variance.

* Use a list comprehensiont to build the list of values of each `(x - mean) **2`

**Sample Output:**

```
stdev([1,2,3,4,5]) returned 1.4142135623730951
```

In [ ]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW

Test case for problem 13

In [ ]:
# TO DO: WRITE YOUR TEST CASES HERE

**Problem 14**

**Concept:** *List comprehension, using helper function.*

**Task:**

Write a function named `scrabble_score(word)` that:

* Uses the previously defined `letter_score()` function

* Uses a list comprehension to compute letter scores

* Returns the total Scrabble score of the word

**Sample Output:**

```
scrabble_score("strawberry") returned 18
scrabble_score("pie") returned 5
```

In [ ]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW

Test cases for problem 14

In [ ]:
# TO DO: WRITE YOUR TEST CASES HERE

**Problem 15**

**Concept:** *List comprehension, using helper functions.*

**Task:**

Write a function named `scrabble_score_list(words)` that:

* Takes a list of words

* Returns a list of Scrabble scores

* Uses the `scrabble_score()` function inside a list comprehension

**Sample Output:**

```
scrabble_score_list(["a", "b", "c"]) returned [1, 3, 3]
scrabble_score_list(["strawberry", "fields", "forever"]) returned [18, 9, 13]
```

In [ ]:
# TO DO: WRITE YOUR CODE/SOLUTION BELOW

Test cases for problem 15

In [ ]:
# TO DO: WRITE YOUR TEST CASES HERE